<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>

    <form method="POST">
        <label for="fname">User Name</label><br>
        <input type="text" id="fname" name="fname"><br>

        <label for="email">User Email</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="pass">Password</label><br>
        <input type="password" id="pass" name="pass"><br>

        <label for="pass_c">Password Confirmation</label><br>
        <input type="password" id="pass_c" name="pass_c"><br>

        <label for="address">Address</label><br>
        <input type="text" id="address" name="address"><br>

        <label for="cell">Telephone</label><br>
        <input type="text" id="cell" name="cell"><br><br>


        <input type="submit" value="Registrar"><input type="button" value="Cancelar">

    </form>

</body>

</html>